@{
    ViewData["Title"] = "ConfirmEmailSuccess";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>Email confirmed successfully</h2>
<a class="btn btn-outline-primary w-100 p-2" asp-area="" asp-controller="Account" asp-action="Login">
    Back to Login
</a>

